h1{
    padding-top: 1.6rem;
}
#pokeball_img{
    width: 10%;
    margin-left: 70%;
    margin-top: -4rem;
}
#hecho{
    position: relative;
    right: 32%;
    top: 2.6rem;
}
#PokePage{
    margin-left: 25%;
    width: 50%;
    height: 40rem;
    margin-top: 3rem;
    background-image: url("../imagenes/pokeball-fondo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#PokePage h2{
    padding-bottom: 0.8rem;
}
#info{
    width: 80%;
    margin-left: 10%;
    color: white;
    padding-top: 14rem;
}
#section_final{
    padding-bottom: 2rem;
}
#juego img{
    width: 30%;
    margin: 3rem;
}